#counter
%form#reset{action: '/reset', method: 'post', style: 'display:none'}
  %input{type: 'submit', value: 'reset'}

:javascript
  (function(){
    var startTime = #{(settings.start_time.to_f * 1000).to_i},
      $el = $('#counter');

    // number of seconds
    var remaining = function(){
      return Math.round((startTime - Date.now()) / 1000);
    };

    var writeTime = function(){
      var diff = remaining();
      $el.text(diff);
      if (diff < 1){
        $('html').css('background-color', 'red');
      }
    };

    var interval = setInterval(function(){
      var wait = remaining();

      if (wait < 0) {
        clearInterval(interval);
        $('#reset').show();
      } else {
        writeTime();
      }
    }, 1000);

    writeTime();
  })();
