!!!
%html
  %head
    %title
      Corsonus
    :css
      #wrapper {
        margin-top: 10em;
        text-align: center;
      }

      input {
        background-color: red;
        font-size: 5em;
        padding: 10px 30px;
        font-family: Futura, sans-serif;
      }
  %body
    #wrapper
      = yield
