!!!
%html
  %head
    %title
      Corsonus
    :css
      #wrapper {
        margin-top: 10em;
        text-align: center;
      }

      input {
        background-color: red;
        padding: 10px 30px;
      }

      input, #counter {
        font-size: 5em;
        font-family: Futura, sans-serif;
      }
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
  %body
    #wrapper
      = yield
